<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>
    <h1>Clientes del taller</h1>

        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td><a href="{% url 'detalle' cliente.id %}">{{ cliente.nombre }}</a></td>
                        <td>{{ cliente.telefono }}</td>
                        <td>{{ cliente.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>